RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.html [L,QSA]



RewriteEngine on

RewriteCond %{HTTP_HOST} ^steamvarsity.com
RewriteRule (.*) https://www.steamvarsity.com/$1 [R=301,L]